.discogs-collection__item {
	--placeholder-color: rgb(240, 240, 240);
}

.discogs-collection__image {
	aspect-ratio: 1;
	background: var(--placeholder-color);
}

.discogs-collection__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.discogs-collection__item.placeholder .discogs-collection__title,
.discogs-collection__item.placeholder .discogs-collection__artists,
.discogs-collection__item.placeholder .discogs-collection__details {
	background: var(--placeholder-color);
}

.discogs-collection__item.placeholder .discogs-collection__title,
.discogs-collection__item .discogs-collection__artists {
	min-height: 1em;
}

.discogs-collection__item.placeholder .discogs-collection__details {
	min-height: 4em;
}

.discogs-collection__details p {
	margin-block: 0.5em;
}
