.discogs-collection {
	container-type: inline-size;
	--placeholder-color: rgb(240, 240, 240);
}

.discogs-release-template ul {
	list-style-type: none;
	display: grid;
	gap: 1rem;
	padding: 0;
	justify-content: center;

	@container (width > 500px) and (width <= 700px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@container (width > 700px) and (width <= 1000px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@container (width > 1000px) {
		grid-template-columns: repeat(4, 1fr);
	}
}

.discogs-release__cover {
	aspect-ratio: 1;
	background: var(--placeholder-color);
}

.discogs-release__cover img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.discogs-release.placeholder .discogs-release__title,
.discogs-release.placeholder .discogs-release__artists,
.discogs-release.placeholder .discogs-release__year,
.discogs-release.placeholder .discogs-release__formats {
	background: var(--placeholder-color);
	min-height: 1em;
}

