.discogs-release-template {
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(auto-fill, clamp(200px,calc(33.33% - 1rem), 400px));
	gap: 1rem;
	justify-content: center;
}

.discogs-release {
	--placeholder-color: rgb(240, 240, 240);
}

.discogs-release__cover {
	aspect-ratio: 1;
	background: var(--placeholder-color);
}

.discogs-release__cover img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.discogs-release.placeholder .discogs-release__title,
.discogs-release.placeholder .discogs-release__artists,
.discogs-release.placeholder .discogs-release__year,
.discogs-release.placeholder .discogs-release__formats {
	background: var(--placeholder-color);
	min-height: 1em;
}

