.discogs-collection {
	container-type: inline-size;
	--placeholder-color: rgb(240, 240, 240);
}

.discogs-release-template ul {
	list-style-type: none;
	display: grid;
	gap: 1rem;
	padding: 0;
	justify-content: center;

	@container (width > 500px) and (width <= 700px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@container (width > 700px) and (width <= 1000px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@container (width > 1000px) {
		grid-template-columns: repeat(4, 1fr);
	}
}

.discogs-release__cover {
	aspect-ratio: 1;
	background: var(--placeholder-color);
}

.discogs-release__cover img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.discogs-release.placeholder .discogs-release__title,
.discogs-release.placeholder .discogs-release__artists,
.discogs-release.placeholder .discogs-release__year,
.discogs-release.placeholder .discogs-release__formats {
	background: var(--placeholder-color);
	min-height: 1em;
}

.discogs-pagination {
	padding-block: var(--wp--preset--spacing--40);
}

.discogs-pagination ul {
	--button-height: 2.25em;

	font-size: var(--wp--preset--font-size--small);
	list-style-type: none;
	display: flex;
	justify-content: center;
	gap: var(--wp--preset--spacing--30);
	margin: 0;
	padding: 0;
	height: var(--button-height);

	&:empty {
		background-color: var(--placeholder-color);
	}
}

.discogs-pagination__button {
	color: var(--wp--preset--color--contrast);
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid currentcolor;
	width: var(--button-height);
	height: var(--button-height);
	text-align: center;
	line-height: 0.8;
	border-radius: 50%;
	aspect-ratio: 1;
	background-color: var(--wp--preset--color--base);
}

button.discogs-pagination__button {
	font-family: inherit;
	padding: 0;
	font-size: inherit;
	cursor: pointer;
}

.discogs-pagination__button[aria-current="true"] {
	background: var(--wp--preset--color--contrast);
	color: var(--wp--preset--color--base);
	cursor: unset;
}

.discogs-pagination__ellipse {
	font-size: 1.5em;
	line-height: 1;
}

