.discogs-collection {
	container-type: inline-size;
	--placeholder-color: rgb(240, 240, 240);
}

.discogs-release-template {
	list-style-type: none;
	padding: 0;
}

.discogs-release__cover {
	aspect-ratio: 1;
	background: var(--placeholder-color);
}

.discogs-release__cover img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.discogs-release.placeholder .wp-block-heading,
.discogs-release.placeholder p {
	background: var(--placeholder-color);
	min-height: 1em;
}

